@font-face {
    font-family: 'Prata';
    src: url('~@/assets/fonts/Prata-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'LibreCalson';
    src: url('~@/assets/fonts/LibreCaslonText-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'LibreCalson';
    src: url('~@/assets/fonts/LibreCaslonText-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: number;
    src: local('Hiragino Mincho ProN');
    unicode-range: U+0030-0039;
  }